<div class="group flex h-full flex-col rounded-lg border">
    <h2>{{ fechaPipe | timeAgo}}</h2>
    <a class="block h-64 overflow-hidden rounded-t-lg bg-gray-200">
        <img
            [src]="productInput.image"
            [alt]="productInput.title"
            class="h-full w-full object-contain">
    </a>

    <div class="flex flex-1 flex-col p-4">
<h3 class="line-clamp-2 text-sm text-gray-700">
            {{ productInput.title }}
        </h3>

        <p class="mt-2 text-lg font-medium">
            {{ productInput.price | currency }}
        </p>

        <button
            class="mt-auto w-full rounded-lg bg-gray-200 py-2">
            Add to cart
        </button>
    </div>
</div>