.contact-form{
    width: 60%;
    padding: 40px;
    margin: 10rem 0;
    font-size: 1.9rem;
}

.success-message{
    top: 18px;
    height: 8.8rem;
    width: 30%;
    min-width: 250px;
    max-width: 500px;
    padding: 1.8rem;
}

.success-message__title{
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.success-message__title .success-message__icon{
    display: inline-block;
    width: 17px;
    height: 17px;
    background-image: url(../assets/images/icon-success-check.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;     
}

.success-message__content{
    font-size: 1.4rem;
    font-weight: lighter;
} 

.contact-form h2{
   font-size: 4rem;
}

.contact-form__input{
    height: 6rem;
    font-size: 1.6rem;
}

.contact-form__names{
	flex-direction: row;
      justify-content: space-between;
}

.contact-form__label-mod{
    display: inline-block;
    width: 49%;

}

.contact-form__fieldset{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'tipo tipo'
                         'radio1 radio2'
                        'error error';
    justify-content: space-between;
    margin-bottom: 3.5rem;
}

legend{
    grid-area: tipo;
}

legend + .contact-form__label-radio{
    grid-area: radio1;
}

.contact-form__fieldset label:nth-child(2){
    grid-area: radio2;
}

#voidQueryType{
    grid-area: error;
}

.contact-form__label-radio{
    width: 49%;
    height: 6rem;
}

.contact-form__input-radio{
    width: 20px;
    height: 20px;
}

.contact-form__textarea{
    font-size: 1.6rem;
}


.contact-form__label-consent .contact-form__input-consent {
    margin-bottom: 3.5rem;
    width: 2rem;
    height: 2rem;
}

.contact-form__label-consent .contact-form__message-error{
    font-size: 1.9rem;
}

.contact-form__submit-button{
   height: 6rem;
   font-size: 1.9rem
}
