<h1>prueba: {{msg}}</h1>
<h2>Forma clásica</h2>
<p>Se importa en el .ts CommonModule de @angular/common</p>
<p>y se lo llama en el imports: [CommonModule]</p>

<ul>
  <!-- forma antigua de hacer un ngFor (angular 15) -->
  <li *ngFor="let tarea of tareas">
    {{tarea}}
  </li>
</ul>

<h2>Forma nueva</h2>
<p>No se necesita importar nada en el .ts</p>
<pre><code>
  {{codigo}}
</code></pre>

<ul>
  <!-- nueva forma de hacer un ngFor (angular 16)
         no se necesita importar nada -->
  @for(tarea of tareas; track tarea){
  <li>
    {{tarea}}
  </li>
  }
</ul>

<hr>
<h2>Property binding</h2>
<p>El botón se deshabilita si estado es false</p>
<button [disabled]="estado">Button</button>
<button (click)="buttonPrueba()" class="button-prueba">Button2</button>
<p>(change)</p>
<input type="number" (change)="onChange($event)" />
<h2>Signal</h2>
<input type="text"  [value]="(ejemploSignal())" (change)="changeInput($event)"/>
<p>Texto = {{ejemploSignal()}}</p>

<div class="gatitos">
  <h2>APIS GATITOS</h2>
  <section class="box_cats" *ngIf="estadoCats()">
    @for(item of gatoEjemplo(); track item){
       <img [src]="item" alt="gatito"/>
    }
    
  </section>
  <button (click)="getGatito()">Obtener Gatito</button>
  <button (click) = "showCats()" class="button-cats">Ver Gatitos</button>
</div>

  <section>
    <h2>Switch</h2>
    <input type="text" [value]="ejemploSwitch()" (change)="changeInputSwitch($event)">
    @switch (ejemploSwitch()) {
      @case('1') {
        <p>Estamos en el caso 1</p>
        <p>Puede tener varios elementos html</p>
      }
      @case('2') {
        <p>Estamos en el caso 2</p>
      }
      @default {
        <p>No se ha seleccionado ningún caso</p>
      }
    }
  </section>

  <section>
    <input type="color" [formControl]="colorCtrl">
    <p> El color es {{colorCtrl.value}}</p>
  </section>
